p {
    margin: 0;
    padding: 0;
}

body {
    background: #111111;
    color: #f0f0f0;
}

body a:link,
body a:hover,
body a:active {
    color: #f0f0f0;
}

body a:hover {
    text-decoration: none;
}

body a:visited {
    color: #a0a0a0;
}

header a:link,
header a:hover,
header a:active,
header a:visited {
    text-decoration: none;
    color: #f0f0f0;
}

.pages + .nav:before {
    content: '/';
}

.pages {
    padding-left: 1em;
}

.nav {
    padding-left: 2em;
}

.nav a+a:before {
    content: ': ';
}

header {
    border-top: 3px solid white;
    font-family: "Roboto", sans-serif;
}

.site-name {
    font-size: 150%;
    font-weight: 400;
    font-style: italic;
}

.section-name,
.pages {
    font-size: 125%;
    font-weight: 300;
}

.nav {
    font-size: 125%;
    font-weight: 100;
}

.main {
    border-top: 1px solid white;
    font-size: 1.25em;
    font-family: "Merriweather", serif;
    font-weight: 400;
}

article {
    max-width: 30em;
    line-height: 1.4;
}

article p {
    margin-top: 1em;
}

.article-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 150%;
}

header, .main {
    padding: 0.5em; 
}

#more-images {
    font-family: "Roboto", sans-serif;
    position: relative;
    display: inline-block;
    background: black;
    width: 200px;
    height: 200px;
}

#more-images p.msg {
    position: absolute;
    top: 50%;
    margin-top: -0.75em;
    font-size: 150%;
    font-weight: 300;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.image-show img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-show .title {
    font-style: italic;
    font-weight: 700;
    text-transform: capitalize;
}

.image-show .original {
    font-size: 50%;
}

.image-show .date {
    display: block;
    font-size: 60%;
}

.image-show .comment {
    font-size: 80%;
}

.image-show .tags {
    padding-left: 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 60%;
    text-transform: uppercase;
}

.image-show .tags:before {
    content: 'tags:'
}

.image-show .tags li {
    display: inline-block;
    padding-left: 0;
}

.image-show .tags li + li:before {
    content: '/ ';
}

/** 0 -> 320px *******************************************************/
@media all and (max-width: 320px) {

    body {
        width: 100%;
        max-width: 300px;
        margin-top: 0.5em;
    }
    
    .main img,
    #more-images {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        width: 250px;
        height: 250px;
    }

    article.image-show img {
        height: auto;
    }
}

/** 321px -> 480px ***************************************************/
@media all and (min-width: 321px) and (max-width: 480px) {
    body {
        margin-top: 1em;
    }
}

/** 481px -> 768px ***************************************************/
@media all and (min-width: 481px) and (max-width: 768px) {
    body {
        margin-top: 3em;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/** 769px+ ***********************************************************/
@media all and (min-width: 769px) {
    body {
        margin-top: 5em;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/** 321px+ ***********************************************************/
@media all and (min-width: 321px) {
    header {
        font-size: 120%;
    }
    
    .main img,
    #more-images {
        margin: 0.5em;
    }
}

/** 481px+ ***********************************************************/
@media all and (min-width: 481px) {
    body {
        max-width: 700px;
    }

    header > * {
        display: inline-block;
    }
}

/** 768px and below **************************************************/
@media all and (max-width: 768px) {
    article.image-show img {
        max-width: 100%
    }
}
